/*----------------------HEADER & HAMBURGER MENU BELOW------------------------*/
body {
    font-family: 'Raleway', sans-serif;
}
.header {
    height: 60px;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.logo img {
    height: 40px;
    margin-right: 20px;
}
.hamburger,
.exit {
    background: none;
    border: none;
}

.hamburger img {
    height: 30px;
}
.exit img {
    height: 25px;
}
.menu-container li {
    list-style: none;
    margin-bottom: 20px;
}
.menu-container ul a {
    color: black;
}

.title {
    font-size: 40px;
    color: white;
    font-weight: bold; 
}
/*----------------------------------------------------------------------------*/



/*----------------ALL "ABOUT" DIVS & STYLING ARE LOCATED BELOW----------------*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid green;*/
}
.about-developers,
.about-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;   
    /*border: 1px solid blue;*/
}

.dev-image img,
.project-image img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.vision,
.methods,
.tools, 
.sarah, 
.katie, 
.steph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    /*border: 1px solid black;*/
}


.line {
    border: 1px solid grey;
    margin-top: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.5em;
}

p {
    margin-top: 20px;
    margin-bottom: 0;
    max-width: 400px;
    max-height: 200px;
    overflow-y: auto;
    font-size: .85em;
    /*border: 1px solid pink;*/
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    width: 100%;
    /*border: 1px solid grey;*/
}

.social-media img {
    max-height: 25px;
    max-width: 25px;
    margin-top: 5px;
    margin-left: 5px;
    /*border: 1px solid pink;*/
}





/*footer  */
.footer-container {
    height: 150px;
    background: #023E58;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.footer-menu {
    display: flex;
    margin-left: 10px;
    font-size: 18px;
}
.footer-menu a {
    text-decoration: none;
}
.footer-menu span {
    padding: 20px;
    cursor: pointer;
    letter-spacing: 2px;
}
.footer-menu span:after,
.footer-menu span:before {
    border: 1px solid #023E58;
    bottom: 0px;
    content: " ";
    display: block;
    transition: all 280ms ease-in-out;
    width: 0;
}
.footer-menu span:hover:after,
.footer-menu span:hover:before {
    border-color:#2C6675;
    transition: width 350ms ease-in-out;
    width: 100%;
    
}
.footer-menu span:hover:before {
    bottom: auto;
    top: 0;
    width: 100%;
}
.powered-by img {
    height: 25px;
}
.flickr,
.google {
    color: #8CC3B7;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 12px;
}

/*---------------------------------------------------------------------------*/





/*-------------------------------MEDIA QUERIES-------------------------------*/

/* small screens */
@media only screen and (min-width: 475px) {
    .about-project,
    .about-developers {
        flex-wrap: wrap;  
    }

    .vision,
    .methods,
    .tools,
    .sarah, 
    .katie, 
    .steph {
        width: 100%;     
    }

    .dev-image img,
    .project-image img {
        width: 250px;
        height: 250px;
        border-radius: 100%;
    }

    h3 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
    .footer-container {
        justify-content: space-between;
    }
}



/* medium screens */
@media only screen and (min-width: 775px){
    .about-project,
    .about-developers {
        flex-wrap: none;  
    }

    .vision,
    .methods,
    .tools,
    .sarah, 
    .katie, 
    .steph {
        width: 30%;     
    }

    .dev-image img,
    .project-image img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: .85em;
    }
 
}

/* large screens */
@media only screen and (min-width: 992px){
    .about-project,
    .about-developers {
        flex-wrap: none;  
    }

    .vision,
    .methods,
    .tools,
    .sarah, 
    .katie, 
    .steph {
        width: 30%;     
    }

    .dev-image img,
    .project-image img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    }

    h3 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
 
 
}
/*---------------------------------------------------------------------------*/

