
.main-map {
    height: 100%;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
}


.header {
    height: 60px;
    width: 100%;
}
.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.hamburger,
.exit {
    background: none;
    border: none;
}

.hamburger img,
.exit img {
    height: 30px;
}


















@media only screen and (min-width: 976px){
    .jumbotron {
        height: 500px;
    }
}