/* font-family: 'Raleway', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Caveat', cursive; */
.header {
    height: 60px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.hamburger,
.exit {
    background: none;
    border: none;
}

.hamburger img,
.exit img {
    height: 30px;
}

.menu-container ul {
    list-style: none;
}

.menu-container ul a {
    color: black;
}

.title {
    font-size: 40px;
    color: white;
    font-weight: bold; 
}

.button-container button {
    height: 60px;
    width: 150px;
    font-size: 20px;
    border: 1px solid grey;
}

.banner-container {
    text-align: center;
    color: white;
    background-color: none;
    height: 1000px;
}

.jumbotron-title h1 {
    font-size: 150px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: -2px 2px 1px black;
}

.jumbotron-1,
.jumbotron-2,
.jumbotron-3,
.jumbotron-4 {
    height: 1000px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.jumbotron-1 {
    background-image: url("../images/golden-clouds.jpg")
}

.jumbotron-2 {
    background-image: url("../images/canyon.jpg");
}

.jumbotron-3 {
    background-image: url("../images/redwood.jpg");
}

.jumbotron-4 {
    background-image: url("../images/galaxy.jpg");
}

.jumbotron-4 h1 {
    font-size: 130px;
}

.home-search-btn {
    background-color: white;
    color: grey;
    height: 40px;
    width: 125px;
    font-size: 1.25em;
    margin-top: 50px;
    border: none;
    cursor: pointer;
}

.glyphicon {
    Margin-right: 10px;
}


/* modifies gallery heading, located above picture-container & images */
.gallery-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gallery-heading h2 {
  
}

/* modifies picture-container class(created by Sarah on the DOM), within picture-display div in HTML  */
.picture-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 2px;
    margin-right: 2px;
}

/* Modifies search images */
.picture-container img {
    height: 159px;
    width: 240px;
    margin: 5px;
}









/*-------------------------------MEDIA QUERIES-------------------------------*/

/* Small Screens */
@media only screen and (min-width: 360px) {
    .jumbotron {
        height: 350px;
    }
    .title {
        font-size: 45px;
    }   
}


/* Medium Screens */
@media only screen and (min-width: 768px){
    .jumbotron {
        height: 500px;
    }
    .title {
        font-size: 60px;
    }
}

/*---------------------------------------------------------------------------*/