/* font-family: 'Raleway', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Caveat', cursive; */

body {
    font-family: 'Raleway', sans-serif;
}


/*header  */
/**************************  */
/* map   */
.map-container {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
}

#map {
	height: 300px;
    box-shadow: 0px 0px 10px #2C6675;
    width: 100%;
}

.white-space {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #8CC3B7;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-icons {
    display: flex;
    align-items: center;
    margin-left: 0;
}
.map-icons {
    margin-right: 5px;
}
.logo {
    font-size: 15px;
    margin-right: 0;
    display: flex;
    align-items: center;
}
.logo-title {
    display: none;
}
/*retractable menu  */
.hamburger,
.exit,
.hide-map,
.show-map {
    background: none;
    border: none;
}
.hamburger img,
.map-icons img {
    height: 30px;
}

.exit img {
    height: 25px;
}
.menu-container span {
    color: #2C6675;
    margin-left: 5px;
}
.title {
    font-size: 40px;
    color: white;
    font-weight: bold;
}
/* .click-to-open span,
.click-to-close span {
    display: none;
} */
/**************************  */
/*main  */
main {
    background-color: #2C6675
}
/*search area  */
/* modifies gallery heading, located above picture-container & images */
.top-search-container {
    background-color: white;
    border-bottom: 2px solid #023E58;
    width: 100%;
}
.space-behind-map {
    height: 325px;
    width: 100%;
    background-image: url("../images/golden-clouds.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .3;
}
.search-input {
    width: 100%;
}
.search-box-container {
    text-align: center; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    
}
.location-search-container {
    display: flex;
    width: 400px;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #2C6675;
    overflow: hidden;
}
.search-button {
    border: none;
    background: none;
}
.search-button img{
    height: 20px;
}
.search-location {
    border: none;
}
.search-units {
    display: flex;
    margin-top: 20px;
}
.radius {
    margin-right: 5px;
}

.main-container {
    width: 100%;
    text-align: center;
    transition: all .5s ease-in;
}
.gallery-heading {
    font-family: 'Rock Salt', cursive;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    color: grey;
    margin-top: 40px;
}
.gallery-heading h2 {
    line-height: 40px;
}
/*explain site section  */
.explain-site-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.explain-site {
    text-align: left;
    font-size: 14px;
    width: 40%;
}
.input-group{
    text-align: center;
}

.btn {
    z-index: 50;
}
.search-location{
    width: 100%;
}
/* ************************ */
/*checkbox animation  */
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1024px;
}


.checkbox-name {
    margin-bottom: 15px;
    margin-right: 15px;
    margin-top: 20px;
    cursor: pointer;
    letter-spacing: 2px;
}
.checkbox-name:after,
.checkbox-name:before {
    border: 1px solid white;
    bottom: 0px;
    content: " ";
    display: block;
    transition: all 280ms ease-in-out;
    width: 0;
}
.checkbox-name:hover:after,
.checkbox-name:hover:before {
    border-color:black;
    transition: width 350ms ease-in-out;
    width: 100%;
    
}
.checkbox-name:hover:before {
    bottom: auto;
    top: 0;
    width: 100%;
}

/* ************************ */
/* modifies picture-container class(created by Sarah on the DOM), within picture-display div in HTML  */
.picture-container {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
    padding: 10px;
    text-align: center;
    background-color: white;
}
.picture-box {
    height: 250px;
    width: 400px;
    overflow: hidden;
    margin: 10px;
    transition: all .75s;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.picture-container img {
    max-height: 400px;
    max-width: 400px;
    opacity: .8;
    cursor: pointer;
    transition: all .75s;
}
.picture-box:hover {
    box-shadow: 5px 5px 10px grey;
}
.picture-container img:hover{
    opacity: 1;
    /* box-shadow: 5px 5px 10px grey; */
    transform: scale(1.02); 
}
.back-to-top img{
    background-color: #8CC3B7;
    border-radius: 100%;
    height: 50px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}
/* ************************ */
/*footer  */
.footer-container {
    height: 300px;
    background: #023E58;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    align-content: center;
}
.footer-menu {
    margin-left: 30px;
}
.footer-menu span {
    margin-left: 10px;
    font-size: 20px;
}


/*google maps pop up style  */
.gm-style-iw {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkblue;
    font-family: 'Raleway', sans-serif;
    overflow-x: scroll;
    text-align: center;
}

.iw-container h6 {
    font-size: 14px;
    font-weight: 900;
    color: black;
}

.iw-options {
    display: flex;
    justify-content: space-between;
}

.save, 
.saved,
.iw-container a {
    color: darkblue;
}

.iw-container a {
    margin-right: 10px;
}

.save:hover {
    text-decoration: underline;
    cursor: pointer;
}

.error-message {
    font-size: 18px;
    color: white;
    font-weight: 900;
    text-align: center;
}



/*-------------------------------MEDIA QUERIES-------------------------------*/

@media only screen and (min-width: 768px){
    .gallery-heading h2 {
        line-height: 0px;
        font-size: 30px;
    }
    .logo-title {
        display: unset;
    }
    .space-behind-map {
        height: 375px;
    }
    .explain-site {
        font-size: 18px;
    }
    .search-box-container {
        max-width: 1024px;
        text-align: center; 
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .location-search-container {
        margin-right: 60px;
        width: 300px;
        margin-top: 0;
    }
    .search-units {
        display: flex;
        margin-top: 0;
    }
    .navigation-icons {
        margin-left: 10px;
    }
    #map {
        height: 350px;
    }
    .map-icons {
        margin-left: 10px;
        margin-right: 10px;
    }
    .menu-container span {
        margin-left: 10px;
    }
    .logo {
        margin-right: 20px;
    }
    .search-box-container {
        max-width: 1024px;
    }
    .input-group {
        max-width: 1024px;
    }
    .main-container{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .picture-box {
        height: 200px;
        width: 250px;
    }
    .picture-container img {
        max-width: 400px;
    }
    .picture-container {
        border-left: 2px solid #023E58;
        border-right: 2px solid #023E58;
    }
}

@media only screen and (min-width: 976px){
    /* .jumbotron {
        height: 500px;
    }  */
    #map {
        height: 400px;
        width: 100%;
    }
    .main-container{
        margin: 0 auto;
        max-width: 1024px;
        text-align: center;
    }
    .search-input {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .gallery-heading {
        font-size: 60px;
        padding: 40px;
    }
    .picture-box {
        height: 225px;
        width: 300px;
    }
    .picture-container img {
        /* max-height: 400px; */
        max-width: 400px;
    }
}

