/* font-family: 'Raleway', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Caveat', cursive; */

body {
    font-family: 'Raleway', sans-serif;
}


/*header  */
/**************************  */
/* map   */
.map-container {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
}

#map {
	height: 300px;
    box-shadow: 0px 0px 10px #2C6675;
    width: 100%;
}


/* fixed navigation bar under map  */
.white-space {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #8CC3B7;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger,
.exit,
.hide-map,
.show-map {
    background: none;
    border: none;
}
.hamburger,
.map-icons {
    display: unset;
}
.hamburger img,
.map-icons img {
    height: 30px;
}
.exit img {
    height: 20px;
    margin-left: 5px;
}

.menu-container span {
    color: #2C6675;
    margin-left: 10px;
}
.menu-container a {
    text-decoration: none;
}

.click-to-open,
.click-to-close,
.nav-right,
.hamburger-menu-container,
.menu-container,
.navigation-left {
    display: flex;
    align-items: center;
}
.map-icons {
    margin-right: 5px;
}
.map-control {
    display: flex;
    margin-left: 5px;
}
.myAtlas-logo img {
    margin-right: 5px;
    height: 35px;
}
.large-menu-container {
    display: none;
}

.menu-container a,
.large-menu-container a {
    text-decoration: none;
    color: #023E58;

}

/*retractable menu  */


/**************************  */
/*main  */
main {
    background-color: #2C6675
}
/*search area  */
/* modifies gallery heading, located above picture-container & images */
.top-search-container {
    background-color: white;
    border-bottom: 2px solid #023E58;
    width: 100%;
}
.space-behind-map {
    height: 315px;
    width: 100%;
    background-image: url("../images/sunrise.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .4;
}
.pic-info {
    position: relative;
    top: 280px;
    left: 20px;
    font-weight: bolder;
}
.gallery-heading h2{
    font-family: 'Rock Salt', cursive;
    margin: 0 auto;
    color: grey;
    margin-top: 60px;
}
.gallery-heading h2 {
    line-height: 40px;
    
}

/*explain site section  */
.explain-site-container {
    margin: 0 auto;
    max-width: 550px;
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}
.explain-site {
    font-size: 16px;
    border-top: 1px solid #8CC3B7;
    border-bottom: 1px solid #8CC3B7;
}
.search-input {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
}
.search-box-container {
    text-align: center; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 20px;
}
.location-search-container {
    display: flex;
    margin-top: 20px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #2C6675;
    overflow: hidden;
}
.search-button {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
    border: none;
    background: none;
}
.search-button img{
    height: 20px;
}
.search-location {
    border: none;
}
.search-units {
    display: flex;
    margin-top: 20px;
}
.radius {
    margin-right: 10px;
}

.main-container {
    width: 100%;
    text-align: center;
    transition: all .5s ease-in;
}

.input-group{
    text-align: center;
}

.btn {
    z-index: 50;
}
.search-location{
    width: 100%;
}
.choose-tags {
    padding-top: 15px;
    padding-bottom: 15px;
}
/* ************************ */
/*checkbox animation  */
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1024px;
    margin-bottom: 50px;
}
.checkbox-name {
    padding: 20px;
    cursor: pointer;
    letter-spacing: 2px;
}

.large-menu-container span:after,
.large-menu-container span:before,
.checkbox-name:after,
.checkbox-name:before {
    border: 1px solid white;
    bottom: 0px;
    content: " ";
    display: block;
    transition: all 280ms ease-in-out;
    width: 0;
}

.large-menu-container span:hover:after,
.large-menu-container span:hover:before,
.checkbox-name:hover:after,
.checkbox-name:hover:before {
    border-color:#2C6675;
    transition: width 350ms ease-in-out;
    width: 100%;
    
}

.large-menu-container span:hover:before,
.checkbox-name:hover:before {
    bottom: auto;
    top: 0;
    width: 100%;
}

/* ************************ */
/* modifies picture-container class(created by Sarah on the DOM), within picture-display div in HTML  */
.picture-container {
    display: flex;
    max-width: 1020px;
    margin: 0 auto;
    margin-top: -50px;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-top: 1px solid #023E58;
}

.picture-box {
    height: 250px;
    width: 400px;
    overflow: hidden;
    margin: 10px;
    transition: all .75s;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.picture-box:hover {
    cursor: pointer;
    overflow: unset;
    z-index: 20;
    box-shadow: 5px 5px 10px grey;
}
.picture-container img {
    max-height: 400px;
    max-width: 400px;
    opacity: .8;
    cursor: pointer;
    transition: all .75s;
}

.picture-container img:hover{
    opacity: 1;
    transform: scale(1.2); 
}
.back-to-top img{
    background-color: #8CC3B7;
    border-radius: 100%;
    height: 40px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}
/* ************************ */
/*footer  */
.footer-container {
    height: 250px;
    background: #023E58;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-menu {
    display: flex;
    margin-left: 10px;
    font-size: 18px;
}
.footer-menu a {
    text-decoration: none;
}
.footer-menu span {
    padding: 20px;
    cursor: pointer;
    letter-spacing: 2px;
}


.footer-menu span:after,
.footer-menu span:before {
    border: 1px solid #023E58;
    bottom: 0px;
    content: " ";
    display: block;
    transition: all 280ms ease-in-out;
    width: 0;
}
.footer-menu span:hover:after,
.footer-menu span:hover:before {
    border-color:#2C6675;
    transition: width 350ms ease-in-out;
    width: 100%;
    
}
.footer-menu span:hover:before {
    bottom: auto;
    top: 0;
    width: 100%;
}
.powered-by {
    display: flex;
    align-items: center;
}
.powered-by img {
    height: 25px;
}
.flickr,
.google {
    color: #8CC3B7;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 12px;
}



/*google maps pop up style  */
.gm-style-iw {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkblue;
    font-family: 'Raleway', sans-serif;
    overflow-x: scroll;
    text-align: center;
}

.iw-container h6 {
    font-size: 14px;
    font-weight: 900;
    color: black;
}

.iw-options {
    display: flex;
    justify-content: space-between;
}

.save, 
.saved,
.iw-container a {
    color: darkblue;
}

.iw-container a {
    margin-right: 10px;
}

.save:hover {
    text-decoration: underline;
    cursor: pointer;
}

.error-display {
    background-color: white;
}

.error-message {
    font-size: 22px;
    color: #2C6675;
    font-weight: 900;
    text-align: center;
    padding: 40px 0;
}



/*-------------------------------MEDIA QUERIES-------------------------------*/

@media only screen and (min-width: 768px){
    .hamburger-menu-container {
        display: none;
    }
    .large-menu-container {
        display: flex;
        margin-left: 20px;
    }
    .large-menu-container a {
        text-decoration: none;
        color: #023E58;
        margin-left: 15px;
        margin-right: 15px;
    }
    .gallery-heading h2 {
        line-height: 0px;
        font-size: 30px;
    }
    .space-behind-map {
        height: 360px;
    }
    .explain-site {
        font-size: 18px;
    }
    .search-box-container {
        max-width: 1024px;
        text-align: center; 
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .location-search-container {
        margin-right: 60px;
        width: 300px;
        margin-top: 0;
    }
    .search-units {
        display: flex;
        margin-top: 0;
    }
    .navigation-icons {
        margin-left: 10px;
    }
    #map {
        height: 350px;
    }
    .map-icons {
        margin-left: 10px;
        margin-right: 10px;
    }
    .menu-container span {
        margin-left: 10px;
    }
    .myAtlas-logo {
        margin-right: 20px;
    }
    .gallery-heading {
        font-size: 60px;
        padding: 40px;
        color: #023E58;
    }
    .input-group,
    .search-box-container {
        max-width: 1024px;
    }
    .main-container{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .picture-box {
        height: 200px;
        width: 250px;
    }
    .picture-container img {
        max-width: 400px;
    }
    .picture-container {
        border-left: 2px solid #023E58;
        border-right: 2px solid #023E58;
    }
    .flickr,
    .google {
        text-align: left;
    }
    .footer-container{
        justify-content: space-between;
    }

}

@media only screen and (min-width: 976px){
    .main-container{
        margin: 0 auto;
        max-width: 1024px;
        text-align: center;
    }
    .search-input {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    
    .picture-box {
        height: 225px;
        width: 300px;
    }
    .picture-container img {
        max-width: 400px;
    }
}

